[run]
branch = True
source =
    app

[report]
show_missing = True
skip_covered = False
omit =
    tests/*
    venv/*
    .venv/*
    */site-packages/*

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    if TYPE_CHECKING:

